*{
    margin: 0;
    padding: 0;
}

body{

    color: #fff;
}

h2{
    color: aqua;
}
p{
    color: yellowgreen;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
   max-width: 100%;
   max-height: 100%;
}

.wrapper {
  background: linear-gradient(180deg, rgb(11, 11, 11) 19%, rgb(55, 167, 28));
    min-height: 100vh; /* Занимает всю высоту viewport (видимой области) */
    background-repeat: no-repeat; /* Предотвращает повторение, если контент короче */
    background-size: cover;
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
 @media (max-width: 768px) {
  .container { width: 100%; padding: 0 15px; }
}

ul{
    height: 151px;
}
.hero--container{
    height: 100%;
    width: 100%;
}
