@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #fff;
}

body{
    font-family: "Poppins", sans-serif;
  font-style: normal;
   background: linear-gradient(90deg, rgb(0, 0, 0) 14%, rgb(6, 84, 210) 100%);
    min-height: 500vh; /* Занимает всю высоту viewport (видимой области) */
    background-repeat: no-repeat; /* Предотвращает повторение, если контент короче */
    background-size: cover;
    margin: 0;

}
a{
    text-decoration: none;
    color: #fff;
}
img{
    max-width: 100%;
    
}

.container{
    width: 80%;
    height: 100%;
    margin: 50px;
}

header{
    padding: 50px 0;
}

header nav{
    float: right;
}
h1{
    float: left;
}
h2{
    float: left;
    padding: 50px 0;
}

.hero--info{

    width: 90%;
}



